*{
    margin: 0;
    padding: 0;
}
#parent{
    height: 60px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightcoral;
    color: white;
}

#right,#left{
    display: flex;
    gap: 20px;
}