/* a:link{
    color: crimson;
}
a:visited{
    color: hotpink;
}
a:active{
    color: yellow;
}
a:focus{
    color: green;
    /* border: 2px solid yellow; */
    /* background-color: paleturquoise; */
    */
/* }
a:hover{
    color: blueviolet;
} */