.maincontainer{
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appcont{
  height: 700px;
  width: 500px;
  /* border: 2px solid red; */
  border-radius: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  box-shadow: 5px 5px 10px 1px rgb(174, 173, 173);
  background-color: lightslategray;
  gap: 10px;
}

.notecont{
  height: 88%;
  width: 90%;
  /* border: 2px solid black; */
  border-radius: 30px;
  background-color: whitesmoke;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.header{
  font-size: 40px;
  text-shadow: 1px 2px 3px darkslategray;
  /* border: 2px solid red; */
  color: white;
  width: 90%;
  letter-spacing: 10px;
}

.note{
  height: 80px;
  width: 90%;
  background-color: rgb(149, 166, 184);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}